<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Skybox_Checkout::createOrder" title="Create Sales Order" sortOrder="110" />
                <resource id="Skybox_Checkout::updateStatusOrder" title="Update Status Order"  sortOrder="110" />
                <resource id="Skybox_Checkout::realOrderId" title="Real Order Id"  sortOrder="120" />
            </resource>
        </resources>
    </acl>
</config>
