<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 SkyBox Checkout Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="skbox_fee" instance="Skybox\Checkout\Observer\AddFeeToOrderObserver"/>
    </event>

<!--   <event name="payment_method_is_active">
        <observer name="skybox_payment_methods" instance="Skybox\Checkout\Observer\HidePayments"/>
    </event> -->
<!--    <event name="abstract_search_result_load_after">
        <observer name="skybox_search_result" instance="Skybox\Checkout\Observer\AjaxSearch"/>
    </event>-->
</config>
